<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.mark0420.mk_utils"
>

    <application
    >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bypal.instalment.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
